In [ ]:
import re
string = "Dealer"
pattern = "^(Individual|Dealer)$"
result = re.findall(pattern, string)

print(result)

['Dealer']

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
folder_path = '/content/drive/MyDrive/Projects/car_prices'

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import re
import pickle
%matplotlib inline
path = '/content/drive/MyDrive/Projects/car_prices/Car details.csv'
cars = pd.read_csv(path)

In [ ]:
import sklearn

In [ ]:
print(sklearn.__version__)

1.2.2

In [ ]:
print(np.__version__)
print(pd.__version__)
print(re.__version__)

1.22.4
1.5.3
2.2.1

In [ ]:
def visualization():
    print(cars.shape)
    print('------------------------------------------------------------')
    print(cars.info())
    print('------------------------------------------------------------')
    print(cars.iloc[0])
    print('------------------------------------------------------------')
    print(cars.isnull().sum())
    print('------------------------------------------------------------')
visualization()

(8128, 13)
------------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           8128 non-null   object
 1   year           8128 non-null   int64
 2   selling_price  8128 non-null   int64
 3   km_driven      8128 non-null   int64
 4   fuel           8128 non-null   object
 5   seller_type    8128 non-null   object
 6   transmission   8128 non-null   object
 7   owner          8128 non-null   object
 8   mileage        7907 non-null   object
 9   engine         7907 non-null   object
 10  max_power      7913 non-null   object
 11  torque         7906 non-null   object
 12  seats          7907 non-null   float64
dtypes: float64(1), int64(3), object(9)
memory usage: 825.6+ KB
None
------------------------------------------------------------
name             Maruti Swift Dzire VDI
year                               2014
selling_price                    450000
km_driven                        145500
fuel                             Diesel
seller_type                  Individual
transmission                     Manual
owner                       First Owner
mileage                       23.4 kmpl
engine                          1248 CC
max_power                        74 bhp
torque                   190Nm@ 2000rpm
seats                               5.0
Name: 0, dtype: object
------------------------------------------------------------
name               0
year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage          221
engine           221
max_power        215
torque           222
seats            221
dtype: int64
------------------------------------------------------------

In [ ]:
cars = cars.dropna(how = 'any')
cars.shape

(7906, 13)

In [ ]:
cars.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0

In [ ]:
preprocess_var = ['mileage',	'engine',	'max_power', 'torque']
cars[preprocess_var].head(3)

      mileage   engine   max_power                 torque
0   23.4 kmpl  1248 CC      74 bhp         190Nm@ 2000rpm
1  21.14 kmpl  1498 CC  103.52 bhp    250Nm@ 1500-2500rpm
2   17.7 kmpl  1497 CC      78 bhp  12.7@ 2,700(kgm@ rpm)

In [ ]:
torque_list = cars['torque'].to_list()
torque_rpm = []
def extractRpm(torq_li):
  for x in torq_li:
    res = x.replace(",", "")
    temp = [int(s) for s in re.findall(r'\d+', res)]
    torque_rpm.append(max(temp))

extractRpm(torque_list)
cars['torque_rpm'] = torque_rpm
cars.head(2)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats,torque_rpm
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0,2000
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0,2500

In [ ]:
def to_list(series):
  lis = series.to_list()
  return lis

def extractNum(series):
  ex_list = to_list(series)
  li_ex = []
  for x in ex_list:
    x_v = x.split(" ")
    li_ex.append(x_v[0])
  return li_ex

mil_list = extractNum(cars['mileage'])
eng_list = extractNum(cars['engine'])
power_list = extractNum(cars['max_power'])
cars['mileage_kmpl'] = mil_list
cars['engine_cc'] = eng_list
cars['max_power_bhp'] = power_list

cars_new = cars.drop(preprocess_var, axis = 1)

In [ ]:
cars_new.head(3)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,seats,torque_rpm,mileage_kmpl,engine_cc,max_power_bhp
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,5.0,2000,23.4,1248,74
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,5.0,2500,21.14,1498,103.52
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,5.0,2700,17.7,1497,78

In [ ]:
cars_new.describe()

              year  selling_price     km_driven        seats    torque_rpm
count  7906.000000   7.906000e+03  7.906000e+03  7906.000000   7906.000000
mean   2013.983936   6.498137e+05  6.918866e+04     5.416393   3069.864154
std       3.863695   8.135827e+05  5.679230e+04     0.959208    943.662100
min    1994.000000   2.999900e+04  1.000000e+00     2.000000    400.000000
25%    2012.000000   2.700000e+05  3.500000e+04     5.000000   2400.000000
50%    2015.000000   4.500000e+05  6.000000e+04     5.000000   3000.000000
75%    2017.000000   6.900000e+05  9.542500e+04     5.000000   4000.000000
max    2020.000000   1.000000e+07  2.360457e+06    14.000000  21800.000000

In [ ]:
cars_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7906 entries, 0 to 8127
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           7906 non-null   object
 1   year           7906 non-null   int64
 2   selling_price  7906 non-null   int64
 3   km_driven      7906 non-null   int64
 4   fuel           7906 non-null   object
 5   seller_type    7906 non-null   object
 6   transmission   7906 non-null   object
 7   owner          7906 non-null   object
 8   seats          7906 non-null   float64
 9   torque_rpm     7906 non-null   int64
 10  mileage_kmpl   7906 non-null   object
 11  engine_cc      7906 non-null   object
 12  max_power_bhp  7906 non-null   object
dtypes: float64(1), int64(4), object(8)
memory usage: 864.7+ KB

In [ ]:
# Convert categorical to integer format
cate_cols = ['fuel', 'seller_type', 'transmission', 'owner']
for i in cate_cols:
  print(cars_new[i].unique())

['Diesel' 'Petrol' 'LPG' 'CNG']
['Individual' 'Dealer' 'Trustmark Dealer']
['Manual' 'Automatic']
['First Owner' 'Second Owner' 'Third Owner' 'Fourth & Above Owner'
 'Test Drive Car']

In [ ]:
# Encoding of categorical variables
def ref1(x):
  if x == 'Manual':
    return 1
  else:
    return 0

cars_new['transmission'] = cars_new['transmission'].map(ref1)

def ref2(x):
  if x == 'Individual':
    return 1
  elif x == 'Dealer':
    return 0
  else:
    return -1

cars_new['seller_type'] = cars_new['seller_type'].map(ref2)

def ref3(x):
  if x == 'Petrol':
    return 1
  elif x == 'Diesel':
    return 0
  else:
    return -1

cars_new['fuel'] = cars_new['fuel'].map(ref3)

owners = pd.get_dummies(cars_new['owner'])

X = pd.concat([cars_new, owners], axis=1)

In [ ]:
X.head(8)

,year,km_driven,fuel,seller_type,transmission,seats,torque_rpm,mileage_kmpl,engine_cc,max_power_bhp,First Owner,Fourth & Above Owner,Second Owner,Test Drive Car,Third Owner
0,2014,145500,0,1,1,5.0,2000,23.4,1248,74,1,0,0,0,0
1,2014,120000,0,1,1,5.0,2500,21.14,1498,103.52,0,0,1,0,0
2,2006,140000,1,1,1,5.0,2700,17.7,1497,78,0,0,0,0,1
3,2010,127000,0,1,1,5.0,2750,23.0,1396,90,1,0,0,0,0
4,2007,120000,1,1,1,5.0,4500,16.1,1298,88.2,1,0,0,0,0
5,2017,45000,1,1,1,5.0,4000,20.14,1197,81.86,1,0,0,0,0
6,2007,175000,-1,1,1,5.0,4500,17.3,1061,57.5,1,0,0,0,0
7,2001,5000,1,1,1,4.0,2500,16.1,796,37,0,0,1,0,0

In [ ]:
y = X['selling_price']
X = X.drop(['selling_price', 'name', 'owner'], axis = 1)

KeyError: ignored

In [ ]:
#Modelling
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.decomposition import PCA

In [ ]:
Xtrain, Xtest, ytrain, ytest = train_test_split(X[:3000], y[:3000], test_size=0.2)

In [ ]:
Xtrain.head(2)

,year,km_driven,fuel,seller_type,transmission,seats,torque_rpm,mileage_kmpl,engine_cc,max_power_bhp,First Owner,Fourth & Above Owner,Second Owner,Test Drive Car,Third Owner
569,2017,50000,0,1,1,5.0,2500,17.1,1956,170,1,0,0,0,0
71,2016,70000,0,1,1,5.0,1750,24.3,1248,88.5,1,0,0,0,0

In [ ]:
random_model = RandomForestRegressor(n_estimators=300, random_state = 42, n_jobs = -1)
#fit
random_model.fit(Xtrain, ytrain)

RandomForestRegressor(n_estimators=300, n_jobs=-1, random_state=42)

In [ ]:
Xtest.head(2)

NameError: ignored

In [ ]:
y_pred = random_model.predict(Xtest)

#Checking the accuracy
random_model_accuracy = round(random_model.score(Xtrain, ytrain)*100,2)
print(round(random_model_accuracy, 2), '%')

99.07 %

In [ ]:
random_model_accuracy1 = round(random_model.score(Xtest, ytest)*100,2)
print(round(random_model_accuracy1, 2), '%')

97.05 %

In [ ]:
inp=ImmutableMultiDict(
        [('year', '1334'), ('km_driven', '78'), ('fuel', '56'), ('seller_type', 'ojo'), ('transmission', 'vhj'),
         ('owner', 'hbjk'), ('mileage', 'df'), ('engine', 'j'), ('max_power', 'bj'), ('torque', 'hi'), ('seats', 'bj')])
inp

NameError: ignored

In [ ]:
dic = [('year', '1334'), ('km_driven', '78'), ('fuel', '56'), ('seller_type', 'ojo'), ('transmission', 'vhj'),
         ('owner', 'Second Owner'), ('mileage', 'df'), ('engine', 'j'), ('max_power', 'bj'), ('torque', 'hi'), ('seats', 'bj')]
in_fr = pd.DataFrame(dic, index = ['year', 'km_driven',	'fuel',	'seller_type',	'transmission','owner','mileage','engine', 'max_power', 'torque', 'seats'])



in_fr

                         0             1
year                  year          1334
km_driven        km_driven            78
fuel                  fuel            56
seller_type    seller_type           ojo
transmission  transmission           vhj
owner                owner  Second Owner
mileage            mileage            df
engine              engine             j
max_power        max_power            bj
torque              torque            hi
seats                seats            bj

In [ ]:
 pd.DataFrame(dic).set_index(0).T

,year,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
1,1334,78,56,ojo,vhj,Second Owner,df,j,bj,hi,bj

In [ ]:
ine = pd.DataFrame(dic).set_index(0).T.reset_index(drop='index') # dictionary is converted to dataframe where column '0' has key and '1' has value
ine

,year,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,1334,78,56,ojo,vhj,Second Owner,df,j,bj,hi,bj

In [ ]:
in_ff = pd.DataFrame(dic,index = ['year', 'km_driven',	'fuel',	'seller_type',	'transmission','owner','mileage','engine', 'max_power', 'torque', 'seats'])
in_ff = in_ff.T.drop(0).reset_index(drop='index')
# in_ff = in_ff.T.reset_index(drop='index')
in_ff

,year,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,1334,78,56,ojo,vhj,Second Owner,df,j,bj,hi,bj

In [ ]:
input_dict = request.form
input_frame = pd.DataFrame(input_dict).set_index(0).T.reset_index(drop='index')
def owner_onehot(key):
  owner_dict = {
        'First Owner': [1,0,0,0,0],
        'Fourth & Above Owner': [0,1,0,0,0],
        'Second Owner': [0,0,1,0,0],
        'Test Drive Car': [0,0,0,1,0],
        'Third Owner': [0,0,0,0,1]
    }

  if key in owner_dict.keys():
      return owner_dict[key]

owner_arr = owner_onehot(input_frame['owner'].iloc[0])
owner_arr_df = pd.DataFrame(owner_arr, index=['First Owner', 'Fourth & Above Owner', 'Second Owner', 'Test Drive Car', 'Third Owner']).T
final_df = pd.concat([input_frame, owner_arr_df], axis=1)
final_df

In [ ]:
def owner_onehot(key):
  owner_dict = {
        'First Owner': [1,0,0,0,0],
        'Fourth & Above Owner': [0,1,0,0,0],
        'Second Owner': [0,0,1,0,0],
        'Test Drive Car': [0,0,0,1,0],
        'Third Owner': [0,0,0,0,1]
    }

  if key in owner_dict.keys():
      return owner_dict[key]

owner_arr = owner_onehot(in_ff['owner'].iloc[0])

In [ ]:
owner_arr_df = pd.DataFrame(owner_arr, index=['First Owner', 'Fourth & Above Owner', 'Second Owner', 'Test Drive Car', 'Third Owner']).T
owner_arr_df

,First Owner,Fourth & Above Owner,Second Owner,Test Drive Car,Third Owner
0,0,0,1,0,0

In [ ]:
final_df = pd.concat([in_ff, owner_arr_df], axis=1)
final_df.head()

,year,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats,First Owner,Fourth & Above Owner,Second Owner,Test Drive Car,Third Owner
0,1334,78,56,ojo,vhj,Second Owner,df,j,bj,hi,bj,0,0,1,0,0

In [ ]:
final_df.iloc[0]

IndexError: ignored

In [ ]:
owner_dict = {
        'First Owner': [1,0,0,0,0],
        'Fourth & Above Owner': [0,1,0,0,0],
        'Second Owner': [0,0,1,0,0],
        'Test Drive Car': [0,0,0,1,0],
        'Third Owner': [0,0,0,0,1]
    }

for key in owner_dict.keys():
      print("'" + key + "',", end=' ')

'First Owner', 'Fourth & Above Owner', 'Second Owner', 'Test Drive Car', 'Third Owner',

In [ ]:
in_ff['owner']

1    Second Owner
Name: owner, dtype: object

In [ ]:
First Owner                  0
Fourth & Above Owner         1
Second Owner                 0
Test Drive Car               0
Third Owner                  0

In [ ]:
x = Xtest.iloc[0]
x = x.to_frame()


x

                   index   1053
0                   year   2018
1              km_driven  30000
2                   fuel      0
3            seller_type      1
4           transmission      1
5                  seats    5.0
6             torque_rpm   3000
7           mileage_kmpl  25.83
8              engine_cc   1498
9          max_power_bhp     99
10           First Owner      1
11  Fourth & Above Owner      0
12          Second Owner      0
13        Test Drive Car      0
14           Third Owner      0

In [ ]:
prediction = random_model.predict(x)
print(prediction)

In [ ]:
import pickle
saved_model = pickle.dump(random_model, open(folder_path + '/carselling.pk1','wb'))